# Visual Studio
*.suo
*.user
*.aps

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/BSCP/BSCP/Debug
/BSCP/BSCP/x64/Debug
/BSCP/x64/Debug
/BSCP/RegProvider/x64/Debug
/BSCP/ipch
/BSCP/Debug
/BSCP/RegProvider/Debug
/BSCP/Configurator/bin/Debug
/BSCP/Configurator/obj/Debug
/BSCP/Configurator/bin/Release/Configurator.vshost.exe.manifest
/BSCP/Configurator/bin/Release/Configurator.vshost.exe.config
/BSCP/Configurator/bin/Release/Configurator.pdb
/BSCP/Configurator/bin/Release/Configurator.exe.config
/BSCP/ConfigurableShell/x64/Release/vc140.pdb
/BSCP/ConfigurableShell/x64/Release/ConfigurableShell.vcxprojResolveAssemblyReference.cache
/BSCP/ConfigurableShell/x64/Release/ConfigurableShell.res
/BSCP/ConfigurableShell/x64/Release/ConfigurableShell.log
/BSCP/ConfigurableShell/x64/Release/ConfigurableShell.Build.CppClean.log
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/rc.write.1.tlog
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/rc.read.1.tlog
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/rc.command.1.tlog
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/link.write.1.tlog
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/link.read.1.tlog
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/link.command.1.tlog
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/ConfigurableShell.lastbuildstate
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/CL.write.1.tlog
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/CL.read.1.tlog
/BSCP/ConfigurableShell/x64/Release/Configur.B8642BA3.tlog/CL.command.1.tlog
/BSCP/ConfigurableShell/x64/Debug/vc140.pdb
/BSCP/ConfigurableShell/x64/Debug/vc140.idb
/BSCP/ConfigurableShell/x64/Debug/ConfigurableShell.res
/BSCP/ConfigurableShell/x64/Debug/ConfigurableShell.log
/BSCP/ConfigurableShell/x64/Debug/ConfigurableShell.Build.CppClean.log
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/rc.write.1.tlog
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/rc.read.1.tlog
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/rc.command.1.tlog
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/link.write.1.tlog
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/link.read.1.tlog
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/link.command.1.tlog
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/ConfigurableShell.lastbuildstate
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/CL.write.1.tlog
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/CL.read.1.tlog
/BSCP/ConfigurableShell/x64/Debug/Configur.B8642BA3.tlog/CL.command.1.tlog
/BSCP/BSCP/x64/Release/vc140.pdb
/BSCP/BSCP/x64/Release/TestApp.tlog/TestApp.lastbuildstate
/BSCP/BSCP/x64/Release/TestApp.tlog/link.write.1.tlog
/BSCP/BSCP/x64/Release/TestApp.tlog/link.read.1.tlog
/BSCP/BSCP/x64/Release/TestApp.tlog/link.command.1.tlog
/BSCP/BSCP/x64/Release/TestApp.tlog/CL.write.1.tlog
/BSCP/BSCP/x64/Release/TestApp.tlog/CL.read.1.tlog
/BSCP/BSCP/x64/Release/TestApp.tlog/CL.command.1.tlog
/BSCP/BSCP/x64/Release/TestApp.Build.CppClean.log
/BSCP/BSCP/x64/Release/BSCP.vcxprojResolveAssemblyReference.cache
/BSCP/BSCP/x64/Release/BSCP.log
/BSCP/Configurator/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BSCP/Configurator/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BSCP/Configurator/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BSCP/Configurator/obj/Release/MainWindow.g.i.cs
/BSCP/Configurator/obj/Release/MainWindow.g.cs
/BSCP/Configurator/obj/Release/MainWindow.baml
/BSCP/Configurator/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/BSCP/Configurator/obj/Release/DesignTimeResolveAssemblyReferences.cache
/BSCP/Configurator/obj/Release/Configurator_MarkupCompile.lref
/BSCP/Configurator/obj/Release/Configurator_MarkupCompile.i.cache
/BSCP/Configurator/obj/Release/Configurator_MarkupCompile.cache
/BSCP/Configurator/obj/Release/Configurator_Content.g.i.cs
/BSCP/Configurator/obj/Release/Configurator.Properties.Resources.resources
/BSCP/Configurator/obj/Release/Configurator.pdb
/BSCP/Configurator/obj/Release/Configurator.g.resources
/BSCP/Configurator/obj/Release/Configurator.csproj.GenerateResource.Cache
/BSCP/Configurator/obj/Release/Configurator.csproj.FileListAbsolute.txt
/BSCP/Configurator/obj/Release/App.g.i.cs
/BSCP/Configurator/obj/Release/App.g.cs
/BSCP/RegProvider/x64/Release/vc140.pdb
/BSCP/RegProvider/x64/Release/RegProvider.tlog/RegProvider.write.1u.tlog
/BSCP/RegProvider/x64/Release/RegProvider.tlog/RegProvider.lastbuildstate
/BSCP/RegProvider/x64/Release/RegProvider.tlog/link.write.1.tlog
/BSCP/RegProvider/x64/Release/RegProvider.tlog/link.read.1.tlog
/BSCP/RegProvider/x64/Release/RegProvider.tlog/link.command.1.tlog
/BSCP/RegProvider/x64/Release/RegProvider.tlog/CL.write.1.tlog
/BSCP/RegProvider/x64/Release/RegProvider.tlog/CL.read.1.tlog
/BSCP/RegProvider/x64/Release/RegProvider.tlog/CL.command.1.tlog
/BSCP/RegProvider/x64/Release/RegProvider.log
/BSCP/RegProvider/x64/Release/RegProvider.Build.CppClean.log
/BSCP/CredentialProvider/x64/Release/vc140.pdb
/BSCP/CredentialProvider/x64/Release/SampleV2CredentialProvider.log
/BSCP/CredentialProvider/x64/Release/resources.res
/BSCP/CredentialProvider/x64/Release/BootShellCredentialProvider.Build.CppClean.log
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/rc.write.1.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/rc.read.1.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/rc.command.1.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/link.write.1.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/link.read.1.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/link.command.1.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/CL.write.1.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/CL.read.1.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/CL.command.1.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/BootShellCredentialProvider.write.1u.tlog
/BSCP/CredentialProvider/x64/Release/BootShel.98E74D71.tlog/BootShellCredentialProvider.lastbuildstate
/BSCP/CredentialProvider/x64/Debug/vc140.pdb
/BSCP/CredentialProvider/x64/Debug/vc140.idb
/BSCP/CredentialProvider/x64/Debug/SampleV2CredentialProvider.log
/BSCP/CredentialProvider/x64/Debug/resources.res
/BSCP/CredentialProvider/x64/Debug/BootShellCredentialProvider.Build.CppClean.log
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/rc.write.1.tlog
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/rc.read.1.tlog
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/rc.command.1.tlog
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/link.write.1.tlog
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/link.read.1.tlog
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/link.command.1.tlog
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/CL.write.1.tlog
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/CL.read.1.tlog
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/CL.command.1.tlog
/BSCP/CredentialProvider/x64/Debug/BootShel.98E74D71.tlog/BootShellCredentialProvider.lastbuildstate
/BSCP/CredentialProvider/Release/vc140.pdb
/BSCP/CredentialProvider/Release/SampleV2CredentialProvider.log
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/SampleV2CredentialProvider.write.1u.tlog
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/SampleV2CredentialProvider.lastbuildstate
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/rc.write.1.tlog
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/rc.read.1.tlog
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/rc.command.1.tlog
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/link.write.1.tlog
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/link.read.1.tlog
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/link.command.1.tlog
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/CL.write.1.tlog
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/CL.read.1.tlog
/BSCP/CredentialProvider/Release/SampleV2.98E74D71.tlog/CL.command.1.tlog
/BSCP/x64/Release/TestApp.pdb
/BSCP/x64/Release/TestApp.ipdb
/BSCP/x64/Release/TestApp.iobj
/BSCP/x64/Release/RegProvider.pdb
/BSCP/x64/Release/RegProvider.ipdb
/BSCP/x64/Release/RegProvider.iobj
/BSCP/x64/Release/RegProvider.exp
/BSCP/x64/Release/ConfigurableShell.pdb
/BSCP/x64/Release/ConfigurableShell.ipdb
/BSCP/x64/Release/ConfigurableShell.iobj
/BSCP/x64/Release/BootShellCredentialProvider.pdb
/BSCP/x64/Release/BootShellCredentialProvider.ipdb
/BSCP/x64/Release/BootShellCredentialProvider.iobj
/BSCP/x64/Release/BootShellCredentialProvider.exp
