# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/BSCP/BSCP/Debug
/BSCP/BSCP/x64/Debug
/BSCP/x64/Debug
/BSCP/RegProvider/x64/Debug
/BSCP/ipch
/BSCP/Debug
/BSCP/RegProvider/Debug
/BSCP/Configurator/bin/Debug
/BSCP/Configurator/obj/Debug
